<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <MSTest>
    <Parallelize>
      <Workers>0</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
    <ForcedLegacyMode>false</ForcedLegacyMode>
    <CaptureTraceOutput>true</CaptureTraceOutput>
  </MSTest>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors />
  </DataCollectionRunSettings>
</RunSettings>